<template name="header">
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Guardrail</a>
      </div>
      <div class="collapse navbar-collapse bs-navbar-collapse">
        {{#if $and currentUser currentApp}}
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentApp}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#each apps}}
                  <li><a href="{{pathFor 'tests' appName=name}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
            <li {{{currentPage 'tests'}}}><a href="{{pathFor 'tests' appName=currentApp}}">Tests</a></li>
            <li {{{currentPage 'settings'}}}><a href="{{pathFor 'settings' appName=currentApp}}">Settings</a></li>
          </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text">{{loginButtons}}</li>
        </ul>
      </div>
    </div>
  </header>
</template>