<template name="filters">
	<div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-default {{#if currentFilter 'all'}}active{{/if}}">
	    <input type="radio" name="filters" id="filter-all" {{#if currentFilter 'all'}}checked="checked"{{/if}} value="all"> All
	  </label>
	  <label class="btn btn-default {{#if currentFilter 'passing'}}active{{/if}}">
	    <input type="radio" name="filters" id="filter-passing" value="passing" {{#if currentFilter 'passing'}}checked="checked"{{/if}}> Passing
	  </label>
	  <label class="btn btn-default {{#if currentFilter 'failing'}}active{{/if}}">
	    <input type="radio" name="filters" id="filter-failing" value="failing" {{#if currentFilter 'failing'}}checked="checked"{{/if}}> Failing
	  </label>
	  <label class="btn btn-default {{#if currentFilter 'untested'}}active{{/if}}">
	    <input type="radio" name="filters" id="filter-untested" value="untested" {{#if currentFilter 'untested'}}checked="checked"{{/if}}> Untested
	  </label>
	</div>
	{{#if $and currentUser hasCategories}}
    <div class="pull-right">
      <a href="{{pathFor 'create' appName=currentApp}}" class="btn btn-primary">Create Test</a>
    </div>
  {{/if}}
</template>