<head>
	<title>Guardrail</title>
	<!-- <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


</body>

<template name="layout">
	{{> header}}
	{{#if loggingIn}}
		{{> loading}}
	{{else}}
		{{> yield}}
	{{/if}}
	<a class="mixpanel-badge" href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
</template>
