<template name="testItem">
	<div id="{{_id}}" class="test-item panel panel-default">
		<div class="panel-heading clearfix">
			<h4 class="pull-left"><span class="label label-default">{{index}}</span></h4>
			<h4 class="test-title pull-left">{{title}}</h4>
			<p class="pull-right">
				<strong>Created: </strong>
				<small>{{created_at}}</small>
			</p>
		</div>
		<div class="panel-body">
			{{{description}}}
		</div>
		<div class="panel-footer">
			{{> testStatus this}}
			<div class="pull-right">
				{{#if currentUser}}
					<a href="{{pathFor 'edit' appName=currentApp _id=this._id}}">Edit</a>
					|
				{{/if}}
				<a href="{{pathFor 'show' appName=currentApp _id=_id}}" class="" data-disqus-identifier="test-{{_id}}">
					Discuss
					<span class="badge count-comments" data-disqus-url="{{urlFor 'show' appName=currentApp _id=this._id}}#disqus_thread"></span>
				</a>
			</div>
		</div>
	</div>
</template>